.signin-form {
  padding: 20px 20px 0 !important;
  border: dashed 1px #409EFF;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #F2F6FC;
}

.banner-image {
  margin: -19px -20px 30px;
}

.page-title {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: #409EFF;
}

.box-card {
  margin-bottom: 15px;
}
.box-card-header {
  padding: 14px;
  background-color: #faebd775;
}
.box-header-title {
  font-weight: bold;
  font-size: 18px;
}
.post-user-avatar {
  margin-right: 5px;
  border-radius: 50%;
}
.post-user-email {
  font-size: 12px;
  font-weight: 700;
  color: rgb(28, 28, 28);
  line-height: 20px;
}
.time-ago {
  color: rgb(120, 124, 126);
  font-size: 12px;
  font-weight: 100;
}
.post-image {
  width: 100%;
  display: block;
}
.post-title {
  overflow-wrap: break-word;
  font-size: 30px;
  font-weight: bold;
  line-height: 22px;
}
.post-sub-title {
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.post-header-comment {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: rgb(135, 138, 140);
}

.comment-author-name {
  font-size: 11px;
  font-weight: 600;
  color: rgb(28, 28, 28);
  line-height: 20px;
}
.comment-panel-header {
  padding: 7px;
  background-color: #faebd775;
}
.comment-content {
  font-size: 12px
}
