@import 'settings';
@import 'posts';
@import 'comments';
@import 'signin';

.box-card {
  margin-bottom: 15px;
}
.box-card-header {
  padding: 14px;
  background-color: #faebd775;
}
.box-card-body {
  padding: 20px;
}
.box-header-title {
  font-weight: bold;
  font-size: 18px;
}
